body{
    background-color: #fff;
    color:rgba(117, 117, 117, 0.89);
    line-height: 1.5;
}

header {
    text-align: center;
    margin: 5% 10% 0 7%;
}

h1{
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 5%;
}

ul {
    list-style-position: inside;
    list-style: square;
    margin-left: 2%;
}

.main-header{
    text-align: left;
    margin-left: 25%;
}

nav{
    text-align: right;
}

.nav {
    display: inline;
    margin-right: 2%;
}

.main-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-row-gap: 50px;
}

.center-container{
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 50px;
}

.main-item{
    text-align: center;
    padding: 20px;
    height: 90%;
}

.info {
    text-align: left;
}
#greeting{
    text-align: left;
}

#container-2,
#container-3,
#container-4,
#container-5,
#container-6{
    border-radius: 10px;
    box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
    background-color: #fff;
}

#container-7{
    border-radius: 10px;
    box-shadow: 0px 15px 30px rgb(238, 223, 18);
    background-color: #fff;
}


button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
}
