body{
    background-color: #fff;
    color:rgba(117, 117, 117, 0.89);
}

header {
    text-align: center;
    margin: 0 10% 0 7%;
}

li {
    display: inline;
}
.main-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-row-gap: 50px;
}

.center-container{
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 50px;
}

.main-item{
    text-align: center;
    padding: 20px;
}

#container-1,
#container-2,
#container-3,
#container-4,
#container-5,
#container-6 {

    border-radius: 10px;
    box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
    background-color: #fff;
}

button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
}